<nav class="teal darken-1">
  <div class="container">
    <div class="nav-wrapper">
      <!-- Barra de navegación completa -->
      <a href="/" class="brand-logo">📒 ProjNotes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/">
            <i class="large material-icons right">home</i>
            Inicio
          </a>
        </li>
        <li>
          <a href="/about">
            <i class="material-icons right">business</i>
            Acerca De
          </a>
        </li>
      </ul>
      <!-- Barra de navegación Móvil -->
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="slide-out" class="sidenav">
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Acerda De</a></li>
      </ul>
    </div>
  </div>
</nav>