{
  "presets" : [
    [
      "@babel/preset-env",{
        // Los targets son las plataformas
        // Donde se ejecutara el codigo final
        "targets" : { "node" : "current" }
      }
    ]
  ]
}